<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excelnet Server</title>
</head>

<body>
    <link rel="stylesheet" href="/css/style.css">

    <h2>What is Excelnet Server?</h2>
    <p>Excelnet is a dynamic and run-time file-generator for client side requests. In this free and open source
        version of Excelnet server, you can get relative download links and you should handle correct download
        address yourself.</p>

    <h2>How to get download link from Excelnet API</h2>
    <p>It is so simple! Just make an ajax/web request from your client and send your data in
        <span class="important"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Messages"
                target="_blank">http request body</a></span>.
        for example look at the <span class="important">example-site</span> within the repository.
    </p>

    <hr>

    <h3>Features</h3>
    <table class="table">
        <thead>
            <th>Feature</th>
            <th>Free Version</th>
            <th>Premium Version</th>
        </thead>
        <tbody>
            <tr>
                <td>Generating Files</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Bug Fix</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Admin Panel</td>
                <td>No</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Reports</td>
                <td>No</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Customer Support</td>
                <td>No</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Automatic Removing Files</td>
                <td>No</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>

    <h3>Contact Information</h3>
    <h5>Phone: +989901634299</h5>
    <h5>WebSite: <a href="https://www.sharepointer.ir" target="_blank">www.sharepointer.ir</a></h5>
    <h5>LinkedIn: <a href="https://www.linkedin.com/in/mohammad-fathi/" target="_blank">Mohammad Fathi</a></h5>
    <h5>Instagram: <a href="https://www.instagram.com/sharepointer.ir/" target="_blank">SharePointer.ir</a></h5>
</body>

</html>